:root {
    --bg-body: #F5F6F8;
    --principal-blue : #00962a;
    --text-white: #fff;
    --white: #fff;
    --text-gray : #000;
    --ligth-gray: #eee;
    --black : #000;
    --shadow-gray : #e2e2e2;
    --blue-hover : #00349611;
    --text-green : #097D00;
    --bg-buy-btn : #097D00;
    --btn-hover-green: #076400;
}