<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Enlace a los estilos css -->
    <link rel="stylesheet" href="styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="icon" href="/icons/favicon.ico">
    <title>Más información | JeckyShop</title>
</head>
<body>
    <header class="header-page">
        <div class="background-image">
            <img loading="lazy" src="/images/backgrounds/more-information-background.webp" alt="background image">
            <span class="fill-header"></span>
        </div>
        <h1 class="title-header">
            <div class="logos">
                <img loading="lazy" src="/images/img-logo-white.webp" alt="JeckyShop">
                <img loading="lazy" src="/images/img-logo-text-white.webp" alt="JeckyShop">
            </div>
            <p class="header-text">MÁS INFORMACIÓN</p>
        </h1>
    </header>
    <main>
        <section class="information">
            <article class="introduction">
                <h2>INTRODUCCIÓN</h2>
                <p>Bienvenidos a JeckyShop, tu tienda en línea confiable para encontrar una variedad increíble de productos a precios inigualables. Nos especializamos en ofrecer productos de alta calidad mediante el modelo de negocio de dropshipping, lo que nos permite brindar una amplia selección de artículos directamente desde nuestros proveedores a tu puerta.</p>
            </article>
            <article class="dropshipping">
                <h2>¿Qué es el Dropshipping?</h2>
                <p>En JeckyShop, operamos utilizando el modelo de negocio de dropshipping, lo que significa que no almacenamos productos físicamente. En cambio, trabajamos directamente con proveedores de confianza que envían los productos directamente a nuestros clientes. Esto nos permite ofrecer una amplia variedad de productos a precios competitivos, manteniendo nuestros costos bajos y nuestras operaciones eficientes.</p>
            </article>
            <article class="suppliers">
                <h2>Nuestros Proveedores</h2>
                <p>En JeckyShop, nos enorgullece trabajar con una red selecta de proveedores nacionales que nos permiten ofrecerte productos de alta calidad con tiempos de entrega rápidos y confiables. A diferencia de muchas otras tiendas en línea que dependen de productos importados desde el extranjero, principalmente desde China, todos nuestros productos están almacenados en bodegas nacionales, lo que nos permite ofrecer una serie de ventajas significativas para nuestros clientes.</p>
                <br>
                <h3>Ventajas de Nuestros Proveedores Nacionales</h3>
                <br>
                <ul class="suppliers-advantages">
                    <li>
                        <p><strong>Tiempos de Entrega Rápidos: </strong>Al tener nuestros productos en bodegas nacionales, podemos garantizar tiempos de entrega mucho más rápidos. Olvídate de esperar semanas o incluso meses para recibir tu pedido. Con nosotros, puedes esperar recibir tus productos en cuestión de días.</p>
                    </li>
                    <br>
                    <li>
                        <p><strong>Calidad Garantizada: </strong>Trabajamos estrechamente con nuestros proveedores para asegurar que todos los productos cumplan con los más altos estándares de calidad. Al evitar productos de dudosa procedencia, podemos ofrecerte artículos que han pasado rigurosos controles de calidad.</p>
                    </li>
                    <br>
                    <li>
                        <p><strong>Apoyo a la Economía Local: </strong>Al elegir proveedores nacionales, estamos apoyando a la economía local y fomentando el crecimiento de empresas y manufacturas dentro del país. Esto no solo beneficia a nuestra tienda, sino también a la comunidad en general.</p>
                    </li>
                    <br>
                    <li>
                        <p><strong>Mejor Servicio al Cliente: </strong>Al operar dentro del mismo país, podemos ofrecer un servicio al cliente más eficiente y accesible. Si surge algún problema con tu pedido, podemos resolverlo de manera más rápida y eficaz.</p>
                    </li>
                    <br>
                    <li>
                        <p><strong>Política de Devoluciones Simplificada: </strong>Las devoluciones y cambios son mucho más simples y rápidos cuando no tienes que enviar productos al extranjero. Esto significa menos molestias y costos para ti como cliente.</p>
                    </li>
                    <br>
                    <li>
                        <p><strong>Transparencia y Confianza: </strong>Con proveedores nacionales, podemos mantener una relación más estrecha y transparente, lo que se traduce en productos de los que realmente podemos estar orgullosos y ofrecer con confianza.</p>
                    </li>
                </ul>
            </article>
            <article class="shipping-services">
                <h2>Servicios de Envío</h2>
                <p>En JeckyShop, entendemos la importancia de recibir tus productos de manera rápida y segura. Ofrecemos varios servicios de envío para adaptarnos a tus necesidades, aunque la disponibilidad puede variar según tu ubicación. A continuación, te presentamos algunos de los servicios que utilizamos:</p>
                <ul class="icons-shipping">
                    <li>
                        <a href="https://www.servientrega.com/wps/portal/Colombia/personas/inicio"><img loading="lazy" src="images/logos/servientrega-logo.webp" alt="Servientrega"></a>
                    </li>
                    <li>
                        <a href="https://interrapidisimo.com/"><img loading="lazy" src="images/logos/interrapidisimo-logo.webp" alt="Inter Rapidisimo"></a>
                    </li>
                    <li>
                        <a href="https://envia.co/"><img loading="lazy" src="images/logos/envia-logo.webp" alt="Envia"></a>
                    </li>
                    <li>
                        <a href="https://domina.com.co/"><img loading="lazy" src="images/logos/domina-logo.webp" alt="Domina"></a>
                    </li>
                    <li>
                        <a href="https://coordinadora.com/"><img loading="lazy" src="images/logos/coordinadora-logo.webp" alt="Cordinadora"></a>
                    </li>
                    <li>
                        <a href="https://www.99minutos.com/"><img loading="lazy" src="images/logos/99minutos-logo.webp" alt="99 Minutos"></a>
                    </li>
                    <li>
                        <a href="https://tcc.com.co/"><img loading="lazy" src="images/logos/tcc-logo.webp" alt="TCC"></a>
                    </li>
                </ul>
            </article>
            <article class="contact" id="contact">
                <h2>Información de Contacto</h2>
                <p>En JeckyShop, nos preocupamos por ofrecerte el mejor servicio al cliente posible. Estamos aquí para ayudarte con cualquier pregunta, solicitud o comentario que puedas tener. No dudes en contactarnos a través de los siguientes canales:</p>
                <div class="contact-links">
                    <a href="mailto:jeckyshopecommerce@gmail.com"><i class="fa-regular fa-envelope"></i> Correo electronico: jeckyshopecommerce@gmail.com</a>
                    <a href="https://wa.me/573127240055?text=JeckyShop%20Consulta"><i class="fa-brands fa-whatsapp"></i> whatsapp: +57 3127240055</a>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <p>&copy; 2024 JeckyShop | Todos los derechos reservados.</p>
    </footer>
</body>
</html>