@import url("../colors.css");
.hidden {
    overflow: hidden;
}

.welcome {
  height: 100vh;
  width: 100%;
  /* overflow: hidden; */
  z-index: 30;
}

.background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.background-image img {
  position: absolute;
  display: block;
  object-fit: cover;
  object-position: right;
  width: 100%;
  height: 100%;
}

.fill-background {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--principal-blue);
  opacity: 0.6;
}

.content {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0 5%;
  z-index: 100;
}

.content .slogan {
  font-size: 2em;
  color: var(--text-white);
}

.logos {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.logos img:nth-child(1) {
  margin: 0 auto;
  width: 40%;
}

.logos img:nth-child(2) {
  margin: 0 auto;
  width: 90%;
}

.w-slogan {
  text-align: center;
  color: var(--text-white);
  font-size: 2em;
}

/** Animacion de carga CSS **/
.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  position: absolute;
  background-color: transparent;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: var(--white);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
