<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Catalogo</title>

    <link rel="icon" href="/icons/favicon.ico">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/catalog-styles.css">

</head>
<body>
    <header class="header-page" id="header">
        <div class="header-logos">
            <a href="/index.html" class="links-header">
                <img src="/images/img-logo-white.webp" alt="JeckyShop">
                <img src="/images/img-logo-text-white.webp" alt="JeckyShop">
            </a>
        </div>
        <nav class="header-nav">
            <ul class="nav-list">
                <li class="nav-link">
                    <a href="/templates/more-information/more-information.html" target="_blank"><i class="fa-solid fa-circle-info"></i>Más información</a>
                </li>
                <li class="nav-link">
                    <a href="/templates/more-information/more-information.html#contact" target="_blank"><i class="fa-solid fa-comments"></i>Contáctanos</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="filters-container">
            <div class="filter-category">
                <p class="fc-title">Filtrar por categoria: </p>
                <select name="categories" id="categories">
                    <option value="Ninguna">Ninguna</option>
                    <option value="Todos">Todos</option>
                    <option value="Accesorios">Accesorios</option>
                    <option value="Tecnologia">Tecnología</option>
                    <option value="Belleza">Belleza</option>
                    <option value="Hogar">Hogar</option>
                    <option value="Herramientas">Herramientas</option>
                </select>
            </div>
            <div class="search-container">
                <input type="text" class="input-search" placeholder="Buscar por nombre" id="input-search">
                <select class="input-select" name="searchBy" id="selectSearchBy">
                    <option value="name" selected>Nombre</option>
                    <option value="id">Id</option>
                </select>
                <button class="btn-search" id="btn-search"><i class="fa-solid fa-magnifying-glass"></i>Buscar</button>
            </div>
        </div>
        <div class="products-container" id="view-products">
        </div>
        <a href="#header" class="btn-start"><i class="fa-regular fa-circle-up"></i></a>
    </main>
    <script src="js/catalog.js" type="module"></script>
</body>
</html>